{% extends 'base.html.twig' %}

{% block title %}
	{{ parent()}}| Page administrateur
{% endblock %}

{% block body %}
<br>
	<div class="container-fluid">
		<div class="row justify-content-center">
			<h1 class="text-center text-primary p-4">
				Mentions légales
			</h1>
		</div>


		<div class="row justify-content-center">
			<p class="text-center text-primary p-4"><i>En vigueur au 30/02/2021</i></p>
		</div>
		<p class="text-primary p-4">Conformément aux dispositions des Articles 6-III et 19 de la Loi numéro 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, dite L.C.E.N., il est porté à la connaissance des Utilisateurs du site letempsquilfait.com les présentes mentions légales.</p>
		<p class="text-primary p-4">La connexion et la navigation sur le site letempsquilfait.com par l'Utilisateur implique acceptation intégrale et sans réserve des présentes mentions légales.</p>
		<p class="text-primary p-4">Ces dernières sont accessibles sur le site à la rubrique « Mentions légales ».</p>

		<div class="row justify-content-center">
			<h3 class="text-center text-primary p-4">
				Article 1 : L'éditeur
			</h3>
		</div>
		<p class="text-primary p-4">L'édition et la direction de la publication du site letempsquilfait.com est assurée par Tom ROBETTE, domiciliée 41 Rue du Monument, Rivière, dont le numéro de téléphone est 0664773273, et l'adresse e-mail robettetom@gmail.com.</p>

		<div class="row justify-content-center">
			<h3 class="text-center text-primary p-4">
				Article 2 : L'hébergeur
			</h3>
		</div>
		<p class="text-primary p-4">L'hébergeur du site letempsquilfait.com est la Société NEPTUNE INTERNET SERVICES, dont le siège social est situé au 2 Rue de la Paix, 38021, Grenoble, avec le numéro de téléphone : 04.76.63.94.18.</p>

		<div class="row justify-content-center">
			<h3 class="text-center text-primary p-4">
				Article 3 : Accès au site
			</h3>
		</div>
		<p class="text-primary p-4">Le site est accessible par tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvant découler d'une nécessité de maintenance.</p>
		<p class="text-primary p-4">En cas de modification, interruption ou suspension des services, le site <i>letempsquilfait.com</i> ne saurait être tenu responsable.</p>
	
		<div class="row justify-content-center">
			<h3 class="text-center text-primary p-4">
				Article 4 : Collecte des données
			</h3>
		</div>
		<p class="text-primary p-4">Le site est exempté de déclaration à la Commission Nationale Informatique et Libertés (CNIL) dans la mesure où il ne collecte aucune donnée concernant les utilisateurs.</p>
		
		<div class="row justify-content-center">
			<h3 class="text-center text-primary p-4">
				Article 5 : Cookies
			</h3>
		</div>
		<p class="text-primary p-4">L'Utilisateur est informé que lors de ses visites sur le site, un cookie peut s'installer automatiquement sur son logiciel de navigation.</p>
		<p class="text-primary p-4">En naviguant sur le site, il les accepte.</p>
		<p class="text-primary p-4">Un cookie est un élément qui ne permet pas d'identifier l'Utilisateur mais sert à enregistrer des informations relatives à la navigation de celui-ci sur le site Internet. L'Utilisateur pourra désactiver ce cookie par l'intermédiaire des paramètres figurant au sein de son logiciel de navigation.</p>

		<div class="row justify-content-center">
			<h3 class="text-center text-primary p-4">
				Article 6 : Propriété intellectuelle
			</h3>
		</div>
		<p class="text-primary p-4">Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du site letempsquilfait.com, sans autorisation de l'Éditeur est prohibée et pourra entraîner des actions et poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.</p>
		<p class="text-primary p-4">Pour plus d'informations, se reporter aux <i>CGV</i> du site letempsquilfait.com accessible à la rubrique « <i>CGV</i> »</p>
		<p class="text-primary p-4">Rédigé sur http:/legalplace.fr</p>


	</div>
{% endblock %}
