{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}| Accueil
{% endblock %}

{% block body %}
	{{parent()}}
	<br>
	<div class="row row-cols-1 row-cols-md-6 g-4">
		<div class="col mt-3">
			<a class="card-linker" href=".">
				<div class="card">
					<img src="../uploads/couvertures/Artaud(C).jpg" class="card-img-top" alt="..."/>
					<div class="card-body">
					    <p class="card-text">Gérard Mordillat & Jérôme Prieur</p>
						<h5 class="card-title">La véritable histoire d'Artaud de Mômo</h5>

						<p class="card-text">
							<small class="text-muted">Disponibilité</small>
						</p>
					</div>
				</div>
			</a>

		</div>
		<div class="col mt-3">
			<a class="card-linker" href=".">
				<div class="card" href="#">
					<img src="../uploads/couvertures/Revoltes(C).jpg" class="card-img-top" alt="..."/>
					<div class="card-body">
						<p class="card-text">Charles Soubeyran, Robert Doisneau, Gilles Ehrmann</p>
						<h5 class="card-title">Les révoltés du Merveilleux</h5>

						<p class="card-text">
							<small class="text-muted">Disponibilité</small>
						</p>
					</div>
				</div>
			</a>
		</div>
		<div class="col mt-3">
			<a class="card-linker" href=".">
				<div class="card" href="#">
					<img src="../uploads/couvertures/AllerAumenu(C).jpg" class="card-img-top" alt="..."/>
					<div class="card-body">
						<p class="card-text">Auteur</p>
						<h5 class="card-title">Aller au menu</h5>

						<p class="card-text">
							<small class="text-muted">Disponibilité</small>
						</p>
					</div>
				</div>
			</a>
		</div>
		<div class="col mt-3">
			<a class="card-linker" href=".">
				<div class="card" href="#">
					<img src="../uploads/couvertures/Velazquez(C).jpg" class="card-img-top" alt="..."/>
					<div class="card-body">
						<p class="card-text">Auteur</p>
						<h5 class="card-title">Le désir de Velazquez</h5>

						<p class="card-text">
							<small class="text-muted">Disponibilité</small>
						</p>
					</div>
				</div>
			</a>
		</div>
		<div class="col mt-3">
			<a class="card-linker" href=".">
				<div class="card" href="#">
					<img src="../uploads/couvertures/Ademain(C).jpg" class="card-img-top" alt="..."/>
					<div class="card-body">
						<p class="card-text">Auteur</p>
						<h5 class="card-title">À demain</h5>

						<p class="card-text">
							<small class="text-muted">Disponibilité</small>
						</p>
					</div>
				</div>
			</div>
		</a>
	</div>

	
	<div class="row row-cols-1 row-cols-md-6 g-4">
		<div class="col mt-3">
			<a class="card-linker" href=".">
				<div class="card">
					<img src="../uploads/couvertures/Artaud(C).jpg" class="card-img-top" alt="..."/>
					<div class="card-body">
					    <p class="card-text">Gérard Mordillat & Jérôme Prieur</p>
						<h5 class="card-title">La véritable histoire d'Artaud de Mômo</h5>

						<p class="card-text">
							<small class="text-muted">Disponibilité</small>
						</p>
					</div>
				</div>
			</a>

		</div>
		<div class="col mt-3">
			<a class="card-linker" href=".">
				<div class="card" href="#">
					<img src="../uploads/couvertures/Revoltes(C).jpg" class="card-img-top" alt="..."/>
					<div class="card-body">
						<p class="card-text">Charles Soubeyran, Robert Doisneau, Gilles Ehrmann</p>
						<h5 class="card-title">Les révoltés du Merveilleux</h5>

						<p class="card-text">
							<small class="text-muted">Disponibilité</small>
						</p>
					</div>
				</div>
			</a>
		</div>
		<div class="col mt-3">
			<a class="card-linker" href=".">
				<div class="card" href="#">
					<img src="../uploads/couvertures/AllerAumenu(C).jpg" class="card-img-top" alt="..."/>
					<div class="card-body">
						<p class="card-text">Auteur</p>
						<h5 class="card-title">Aller au menu</h5>

						<p class="card-text">
							<small class="text-muted">Disponibilité</small>
						</p>
					</div>
				</div>
			</a>
		</div>
		<div class="col mt-3">
			<a class="card-linker" href=".">
				<div class="card" href="#">
					<img src="../uploads/couvertures/Velazquez(C).jpg" class="card-img-top" alt="..."/>
					<div class="card-body">
						<p class="card-text">Auteur</p>
						<h5 class="card-title">Le désir de Velazquez</h5>

						<p class="card-text">
							<small class="text-muted">Disponibilité</small>
						</p>
					</div>
				</div>
			</a>
		</div>
		<div class="col mt-3">
			<a class="card-linker" href=".">
				<div class="card" href="#">
					<img src="../uploads/couvertures/Ademain(C).jpg" class="card-img-top" alt="..."/>
					<div class="card-body">
						<p class="card-text">Auteur</p>
						<h5 class="card-title">À demain</h5>

						<p class="card-text">
							<small class="text-muted">Disponibilité</small>
						</p>
					</div>
				</div>
			</div>
		</a>
	</div>
{% endblock %}
