<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta
		http-equiv="X-UA-Compatible" content="IE=edge"/>
		<!-- Bootstrap CSS -->
		<link href='https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/united/bootstrap.min.css' rel='stylesheet'>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


		<title>
			{% block title %}Le temps qu'il fait
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		{% block body %}
			<nav class="navbar navbar-expand-lg navbar-dark bg-primary cc_cursor">
				<a class="navbar-brand" href="#">Le temps qu'il fait</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link text-light" href="#">
								<span class="material-icons md-48">home</span>
							</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link text-light" href="#">
								Parutions
							</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link text-light" href="#">
								Auteurs
							</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link text-light" href="#">
								Oeuvres
							</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link text-light" href="#">
								Bibliophilie
							</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link text-light" href="#">
								Livres de photographie
							</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link text-light" href="#">
								Commande
							</a>
						</li>
						<li class="nav-item active"><!-- Mettre dans le footer -->
							<a class="nav-link text-light" href="#">
								À propos
							</a>
						</li>
						<li class="nav-item active"><!-- Mettre dans le footer -->
							<a class="nav-link text-light" href="#">
								Autres fonds
							</a>
						</li>
						<li class="nav-item active"><!-- Mettre dans le footer -->
							<a class="nav-link text-light" href="#">
								Liens
							</a>
						</li>
						<li class="nav-item active"><!-- Mettre dans le footer -->
							<a class="nav-link text-light" href="#">
								Chronique
							</a>
						</li>
						<li class="nav-item active"><!-- Mettre dans le footer -->
							<a class="nav-link text-light" href="#">
								Nous contacter
							</a>
						</li>
						{% if is_granted('ROLE_ADMIN') %}
							<li class="nav-item active">
								<a class="nav-link text-light" href="#">
									Chemin administrateur
								</a>
							</li>
						{% endif %}
						{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
							<li class="nav-item active">
								<a class="nav-link text-light" href="#">
									S'inscrire
								</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link text-light" href="#">
									Se connecter
								</a>
							</li>
						{% else %}
							<li class="nav-item active">
								<a class="nav-link text-light" href="{{ path('app_logout')}}">
									Se déconnecter
								</a>
							</li>
						{% endif %}
					</ul>
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="text" placeholder="Rechercher">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<span class="material-icons md-48">search</span>
						</button>
					</form>
				</div>
			</nav>
		{% endblock %}
		{% block javascripts %}
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
		{% endblock %}
	</body>
</html>
